[packages]

[dev-packages]
pdfminer-six = "*"
ebooklib = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"

[requires]
python_version = "3.10"

[scripts]
t-cov = "pytest --cov"
t-watch = "ptw"
tests = "pytest"
