---
name: Docker - Pandoc

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install pipenv
        run: pip3 install pipenv

      - name: Install mypy
        run: pipenv install mypy

      - name: Check types
        run: make check-types

      - name: Build Docker image
        run: docker build $PWD --file Dockerfile --tag savvily-book-generator

      - name: Generate sample book in all formats
        run: ./convert.sh -a 'tests/pandoc_integration/fixtures/sample-manuscript/'

      - name: Run all tests
        run: make tests-ci
